@font-face {
    font-family: 'KG Primary Penmanship';
    src: url('KGPrimaryPenmanship.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: auto;
    transition: width 0.3s; /* Agregamos una transición suave para el cambio de altura */
}

.contenido {
    width: 100%;
    padding: 0%;
    margin: 0 auto;
}


.main-header {
    position: sticky; /* Hacemos que el encabezado sea pegajoso */
    top: 0; /* Lo fijamos en la parte superior */
    background-color: #ffffff; /* Cambia el color de fondo según tus preferencias */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

/* Altura reducida cuando el encabezado está pegado */
.main-header.sticky .logo {
    width: 20%; 
    height: auto;
}

.map-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.botones {
    display: flex;
    flex-direction: column;
    position: absolute;
}

@media (min-width: 1920px) {
    .botones {
        position: absolute;
        top: 40%;
        right: 0%;
        width: 225px;
        gap: 5px; /* Optional: Add space between buttons */
        background-color: #bbb;
    }
    .map-button {
        padding: 10px 20px;
        cursor: pointer;
        border: 0px;
        font-family: "KG Primary Penmanship";
        font-size: 20px;
        /* Optional styling */
    }

    /* .botones {
        position: absolute;
        top: 40%;
        right: 0%;
        gap: 10px;
    }
    .map-button {
        padding: 10px 20px;
        cursor: pointer;
        border: 0px;
        font-family: "KG Primary Penmanship";
        font-size: 32px;
    } */
}
@media (max-width: 1750px) {
    .botones {
        position: absolute;
        top: 40%;
        right: 0%;
        width: 225px;
        gap: 5px; /* Optional: Add space between buttons */
    }
    .map-button {
        padding: 10px 20px;
        cursor: pointer;
        border: 0px;
        font-family: "KG Primary Penmanship";
        font-size: 20px;
        /* Optional styling */
    }
} 

@media (max-width: 1920px) {
    .botones {
        position: absolute;
        top: 40%;
        right: 0%;
        width: 225px;
        gap: 5px; /* Optional: Add space between buttons */
        background-color: #bbb;
    }
    .map-button {
        padding: 10px 20px;
        cursor: pointer;
        border: 0px;
        font-family: "KG Primary Penmanship";
        font-size: 20px;
        /* Optional styling */
    }

    /* .botones {
        position: absolute;
        top: 40%;
        right: 0%;
        gap: 10px;
    }
    .map-button {
        padding: 10px 20px;
        cursor: pointer;
        border: 0px;
        font-family: "KG Primary Penmanship";
        font-size: 32px;
    } */
}
.popup {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}

.popup-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}