@font-face {
    font-family: 'KG Primary Penmanship';
    src: url('KGPrimaryPenmanship.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.contenido {
    width: 100%;
    padding: 0%;
    margin: 0 auto;
}


.main-header {
    position: sticky; /* Hacemos que el encabezado sea pegajoso */
    top: 0; /* Lo fijamos en la parte superior */
    background-color: #ffffff; /* Cambia el color de fondo según tus preferencias */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.map-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
}

.botones {
    display: flex; /* Usamos flexbox */
    flex-wrap: wrap; /* Permite que los botones se envuelvan en varias líneas */
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 10px; /* Espaciado entre los botones */
    margin: 0 auto; /* Centra el contenedor dentro del padre */
    padding-top: 2px; /* Espacio superior para separarlo del encabezado */
    width: 90%; /* Asegura que el contenedor no ocupe todo el ancho */
}

.botones h1 {
    margin: 5px;
    margin-right: 300px;
    margin-left: 20px;
}

.map-button {
    width: calc(50% - 10px); /* Cada botón ocupa el 50% menos el gap */
    padding: 14px;
    cursor: pointer;
    border: none;
    font-family: "KG Primary Penmanship";
    font-size: 16px;
    border-radius: 4px;
    text-align: center; /* Asegura que el texto interno esté centrado */
}

#relleno {
    height: 250px;
}

#manejo-audio {
    box-sizing: border-box;
    height: 6vh;
    max-height: 130px;
    min-height: 130px;
    width: 100%;
    background-color: #000000d4;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mensaje-audio-inicio {
    color: white;
    font-size: 35px;
    font-family: "KG Primary Penmanship";
}

#container__elementosDeAudio {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    position: relative;
}

#img__boton {
    position: absolute;
    bottom: 10px; /* Pega el div al fondo del contenedor */
    left: 50%; /* Lleva el div al centro horizontal */
    transform: translateX(-50%); /* Ajusta el centro correctamente */
}
#img__boton img {
    max-height: 50px;
    border-radius: 8px;
    /* border: 10px; */
}

#elementos-de-audio {
    position: absolute;
    width: 100%;
    height: 50%;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    display: flex;
    justify-content: center;
    top: 0px;
}

#audio-progress-container {
    width: calc(100% - 80px); /* Ajusta el ancho para dar 20px de cada lado */
    height: 5px;
    background-color: #e0e0e0;
    position: relative;
    cursor: pointer; /* Cambia el cursor para indicar que es manipulable */
    margin-right: 10px; 
    border-radius: 2px;
    transition: all 1s;
}
#audio-progress-container:hover {
    background-color: rgba(205, 225, 250, 0.967);
}

#audio-progress-bar {
    height: 100%;
    background-color: #007bfff6;;
    width: 0;
    transition: width 0.1s;
    border-radius: 2px;
}

.botonPausa {
    border-radius: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    left: 500px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.botonPausa:hover {
    background-color: rgba(225, 225, 225, 0.967);
}

.botonSec {
    border-radius: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    left: 500px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.imagen-control {
    width: 20px;
    height: 20px;
}

.icon-tabler-player-pause-filled {
    width: 5vh;
    height: 5vh;
}

#imagen_reproducir {
    width: 25px;
    height: 25px;
    padding-left: 3px;

}

.popup {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}

.popup-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* CHAT BUBBLE */
#chat-bubble {
    position: fixed;
    bottom: 160px;
    left: 20px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#chat-window {
    position: fixed;
    bottom: 230px;
    left: 20px;
    width: 90%;
    max-height: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    display: none;
    flex-direction: column;
    font-family: "KG Primary Penmanship";
    z-index: 2000;
}

#chat-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

#chat-messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 22px;
}

#chat-input {
    display: flex;
    padding: 10px;
}

#chat-input input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}

#chat-input button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#chat-text {
    font-family: "KG Primary Penmanship";
    font-size: 22px;
}

.user-message {
    text-align: right;
    padding: 5px;
    margin: 5px;
    background-color: #bcddff;
    border-radius: 5px;
}

.bot-message {
    text-align: left;
    padding: 5px;
    margin: 5px;
    background-color: #f1f1f1;
    border-radius: 5px;
}